.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-x0A_5fXwgXox);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-tU1eoE7hrU_j);
  font-family: var(--token-QnnaEaPc-74w);
  font-size: var(--token-y_F6tDijicKc);
  line-height: var(--token-f7AC14cOU-DK);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-E1vcYwmGW9dC);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JO9HUCpVi3dR);
  outline-offset: 1px;
  outline-color: var(--token-Gk0Ab2uki6QL);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-rxMArxGhL8DW);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-5WyKjQQMcSDK);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-kvdGO0bwehDV);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-4cHopWJ-_F5A);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-uuFKKIMDuHQF);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-WBrHMRS3mjr2);
  font-size: var(--token-m1yRRbfWxT_Y);
  column-gap: var(--token-JO9HUCpVi3dR);
  row-gap: 0px;
  border-radius: var(--token-rKprzNKtfKUu);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-m1yRRbfWxT_Y);
  line-height: var(--token-WBrHMRS3mjr2);
  column-gap: var(--token-rKprzNKtfKUu);
  row-gap: 0px;
  border-radius: var(--token-rKprzNKtfKUu);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-HfPINr0WbAl4);
  line-height: var(--token-N1V0EWuE72OS);
  font-weight: 500;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-HfPINr0WbAl4);
  line-height: var(--token-N1V0EWuE72OS);
  font-weight: 700;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-_m3xSlnYLuTL);
  border-radius: var(--token-E1vcYwmGW9dC);
}
.softBackgroundcolor_neutral {
  background: var(--token--gyvCGSQQna2);
}
.softBackgroundcolor_muted {
  background: var(--token-aaXY72IEZIgr);
}
.softBackgroundcolor_success {
  background: var(--token-t-Jq8VoSgfUD);
}
.softBackgroundcolor_warning {
  background: var(--token-N0P28dkTOQAR);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-nKKToQhgx3k1);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundcolor_neutral_type_soft {
  background: var(--token-Yu-0tx5GXrq6);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-E1vcYwmGW9dC);
  border: 0px solid var(--token-7742LEK6cXiR);
}
.bordercolor_neutral {
  border-color: var(--token-R7EzXcqxT34L);
}
.bordercolor_muted {
  border-color: var(--token-h80fJ9zxt9V5);
}
.bordercolor_success {
  border-color: var(--token-zmVV_yxgusxa);
}
.bordercolor_warning {
  border-color: var(--token-GS-jzCOAt-Ys);
}
.bordercolor_errorDestructive {
  border-color: var(--token-oYIcI-2uGnaX);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-E1vcYwmGW9dC);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-RNpJhu58nxEF);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-fNj-WDQIYU3Y);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ZPX8F7BFqi7U);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__s3R3O {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-E1vcYwmGW9dC) var(--token-_7kK5bIjy4Zt);
}
.freeBox__s3R3O > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-E1vcYwmGW9dC));
  width: calc(100% + var(--token-E1vcYwmGW9dC));
}
.freeBox__s3R3O > :global(.__wab_flex-container) > *,
.freeBox__s3R3O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s3R3O > :global(.__wab_flex-container) > picture > img,
.freeBox__s3R3O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-E1vcYwmGW9dC);
}
.freeBoxsize_extraSmall__s3R3OjVi6G {
  padding: var(--token-rKprzNKtfKUu) var(--token-E1vcYwmGW9dC);
}
.freeBoxsize_small__s3R3Oa2AN {
  padding: var(--token-E1vcYwmGW9dC) var(--token-tU1eoE7hrU_j);
}
.freeBoxsize_large__s3R3O0UeTo {
  padding-top: var(--token-rKprzNKtfKUu);
  padding-bottom: var(--token-rKprzNKtfKUu);
}
.freeBoxsize_extraLarge__s3R3OqUMwk {
  padding-left: var(--token-5tyPLlCKQo-q);
  padding-right: var(--token-5tyPLlCKQo-q);
}
.freeBoxroundedFull__s3R3Od4Tce {
  padding-right: var(--token-5tyPLlCKQo-q);
  padding-left: var(--token-5tyPLlCKQo-q);
}
.freeBox__kQdPu {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__kQdPuYbyzz {
  display: flex;
}
.slotTargetStart {
  color: var(--token-OWvq_cVMmAE1);
}
.slotTargetStartcolor_neutral {
  color: var(--token-smzbCzLaKCvT);
}
.slotTargetStartcolor_muted {
  color: var(--token-QL3lElqk2Jt_);
}
.slotTargetStartcolor_success {
  color: var(--token-3OO3_GMc8HdO);
}
.slotTargetStartcolor_warning {
  color: var(--token--2ncVGnA_4qK);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-AaQbWclZwTSr);
}
.slotTargetStarttype_soft {
  color: var(--token-XJLrikXSkWdd);
}
.slotTargetStarttype_bordered {
  color: var(--token-XJLrikXSkWdd);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-m1yRRbfWxT_Y);
}
.slotTargetStartsize_small {
  font-size: var(--token-m1yRRbfWxT_Y);
}
.slotTargetStartsize_large {
  font-size: var(--token-HfPINr0WbAl4);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-HfPINr0WbAl4);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-hnxgPBkHONSF);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-hnxgPBkHONSF);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-5ufyd_KGsL5H);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-5ufyd_KGsL5H);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token--2hT5375bPpz);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token--2hT5375bPpz);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-wnRcyjr0WskQ);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-wnRcyjr0WskQ);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-TqIh5C2TX5zR);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-TqIh5C2TX5zR);
}
.svg__fiJse {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-OWvq_cVMmAE1);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-smzbCzLaKCvT);
}
.slotTargetLabelcolor_muted {
  color: var(--token-QL3lElqk2Jt_);
}
.slotTargetLabelcolor_success {
  color: var(--token-3OO3_GMc8HdO);
}
.slotTargetLabelcolor_warning {
  color: var(--token--2ncVGnA_4qK);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-AaQbWclZwTSr);
}
.slotTargetLabeltype_soft {
  color: var(--token-XJLrikXSkWdd);
}
.slotTargetLabeltype_bordered {
  color: var(--token-XJLrikXSkWdd);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-hnxgPBkHONSF);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-5ufyd_KGsL5H);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-hnxgPBkHONSF);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token--2hT5375bPpz);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-5ufyd_KGsL5H);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-wnRcyjr0WskQ);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token--2hT5375bPpz);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-TqIh5C2TX5zR);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-wnRcyjr0WskQ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-TqIh5C2TX5zR);
}
.text___75LCb {
  white-space: pre;
}
.freeBox___1BDtV {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1BDtVuxnL {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-OWvq_cVMmAE1);
}
.slotTargetEndcolor_neutral {
  color: var(--token-smzbCzLaKCvT);
}
.slotTargetEndcolor_muted {
  color: var(--token-QL3lElqk2Jt_);
}
.slotTargetEndcolor_success {
  color: var(--token-3OO3_GMc8HdO);
}
.slotTargetEndcolor_warning {
  color: var(--token--2ncVGnA_4qK);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-AaQbWclZwTSr);
}
.slotTargetEndtype_soft {
  color: var(--token-XJLrikXSkWdd);
}
.slotTargetEndtype_bordered {
  color: var(--token-XJLrikXSkWdd);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-m1yRRbfWxT_Y);
}
.slotTargetEndsize_small {
  font-size: var(--token-m1yRRbfWxT_Y);
}
.slotTargetEndsize_large {
  font-size: var(--token-HfPINr0WbAl4);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-HfPINr0WbAl4);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-hnxgPBkHONSF);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-hnxgPBkHONSF);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-5ufyd_KGsL5H);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-5ufyd_KGsL5H);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token--2hT5375bPpz);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token--2hT5375bPpz);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-wnRcyjr0WskQ);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-wnRcyjr0WskQ);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-TqIh5C2TX5zR);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-TqIh5C2TX5zR);
}
.svg___3L9To {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
