.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-D8TxNx_9KGWQ);
  font-size: var(--token-y_F6tDijicKc);
  line-height: var(--token-f7AC14cOU-DK);
  width: 100%;
  color: var(--token-bEf99VmYvt6J);
  font-family: var(--token-QnnaEaPc-74w);
  min-width: 0;
  border-radius: var(--token-E1vcYwmGW9dC);
  padding: var(--token-E1vcYwmGW9dC) var(--token-_7kK5bIjy4Zt);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-Gk0Ab2uki6QL);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-aaXY72IEZIgr);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-q1ss0V9UOuwu);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-aaXY72IEZIgr);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-bRs-HK2ERa5k);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-bRs-HK2ERa5k);
}
