.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-D8TxNx_9KGWQ);
  color: var(--token-bEf99VmYvt6J);
  font-family: var(--token-QnnaEaPc-74w);
  font-size: var(--token-y_F6tDijicKc);
  line-height: var(--token-f7AC14cOU-DK);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-E1vcYwmGW9dC);
  padding: var(--token-E1vcYwmGW9dC) var(--token-_7kK5bIjy4Zt);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JO9HUCpVi3dR);
  outline-offset: 1px;
  outline-color: var(--token-Gk0Ab2uki6QL);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-aaXY72IEZIgr);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-q1ss0V9UOuwu);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-aaXY72IEZIgr);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-bRs-HK2ERa5k);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-bRs-HK2ERa5k);
}
