.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/google_o_auth_example/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__bw3Wv {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-ihVMvYc-32Oz);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__bw3Wv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__bw3Wv > :global(.__wab_flex-container) > *,
.columns__bw3Wv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bw3Wv > :global(.__wab_flex-container) > picture > img,
.columns__bw3Wv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__bw3Wv > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bw3Wv > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bw3Wv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bw3Wv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bw3Wv > :global(.__wab_flex-container) > *,
  .columns__bw3Wv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__bw3Wv > :global(.__wab_flex-container) > picture > img,
  .columns__bw3Wv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bw3Wv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__c4Qqa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__i1Ybs {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__i1Ybs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__i1Ybs > :global(.__wab_flex-container) > *,
.freeBox__i1Ybs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1Ybs > :global(.__wab_flex-container) > picture > img,
.freeBox__i1Ybs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__acJMv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__acJMv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__acJMv > :global(.__wab_flex-container) > *,
.freeBox__acJMv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acJMv > :global(.__wab_flex-container) > picture > img,
.freeBox__acJMv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hGfY8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__rVw83 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-3BamIUQMqsEy);
  background: #ffffff;
  padding: 4px 8px;
}
.text__hnGvX {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-eLMFg-mbu2uw);
}
.text__tzzfz {
  font-size: 20px;
  color: var(--token-3BamIUQMqsEy);
  line-height: 28px;
}
.freeBox__zv9Sf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zv9Sf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zv9Sf > :global(.__wab_flex-container) > *,
.freeBox__zv9Sf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zv9Sf > :global(.__wab_flex-container) > picture > img,
.freeBox__zv9Sf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__nSG0 {
  position: relative;
  height: 1em;
}
.text___4RyCa {
  white-space: pre;
}
.svg__l6GyF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__q2BHe {
  font-size: 18px;
}
.column__aMf9P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__q2Ux {
  max-width: var(--token-ihVMvYc-32Oz);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__q2Ux > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__q2Ux > :global(.__wab_flex-container) > *,
.freeBox__q2Ux > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2Ux > :global(.__wab_flex-container) > picture > img,
.freeBox__q2Ux
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bGlwv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__zlrjd {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-eLMFg-mbu2uw);
  line-height: 1;
}
.text__kuf2S {
  font-size: 20px;
  color: var(--token-3BamIUQMqsEy);
  text-align: left;
  line-height: 28px;
}
.freeBox__x22K {
  max-width: var(--token-ihVMvYc-32Oz);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__x22K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__x22K > :global(.__wab_flex-container) > *,
.freeBox__x22K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x22K > :global(.__wab_flex-container) > picture > img,
.freeBox__x22K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x22K {
    max-width: var(--token-ihVMvYc-32Oz);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x22K > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x22K > :global(.__wab_flex-container) > *,
  .freeBox__x22K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x22K > :global(.__wab_flex-container) > picture > img,
  .freeBox__x22K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__sofIq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__sofIq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__sofIq > :global(.__wab_flex-container) > *,
.freeBox__sofIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sofIq > :global(.__wab_flex-container) > picture > img,
.freeBox__sofIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sofIq {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sofIq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sofIq > :global(.__wab_flex-container) > *,
  .freeBox__sofIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sofIq > :global(.__wab_flex-container) > picture > img,
  .freeBox__sofIq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__a5X6V:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__onxcF {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__uM1S6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hG3Xb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__b46A2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__klLuX {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__duXfX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lyYbd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__j1NjC {
  height: auto;
}
.freeBox__jH39G {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jH39G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__jH39G > :global(.__wab_flex-container) > *,
.freeBox__jH39G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jH39G > :global(.__wab_flex-container) > picture > img,
.freeBox__jH39G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jH39G {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jH39G > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jH39G > :global(.__wab_flex-container) > *,
  .freeBox__jH39G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jH39G > :global(.__wab_flex-container) > picture > img,
  .freeBox__jH39G
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__ra1Fe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zmdrZ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__mQzSm {
  height: auto;
}
.valueProp__nfGu2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zvoH {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__rr4P:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1KE9H {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__kIpks:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___81VZs {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__e0CfZ {
  max-width: var(--token-ihVMvYc-32Oz);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__e0CfZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__e0CfZ > :global(.__wab_flex-container) > *,
.columns__e0CfZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__e0CfZ > :global(.__wab_flex-container) > picture > img,
.columns__e0CfZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__e0CfZ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__e0CfZ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e0CfZ {
    max-width: var(--token-ihVMvYc-32Oz);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e0CfZ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    --plsmc-rc-col-gap: 64px;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e0CfZ > :global(.__wab_flex-container) > *,
  .columns__e0CfZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__e0CfZ > :global(.__wab_flex-container) > picture > img,
  .columns__e0CfZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e0CfZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__o53Zy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___7Lq88 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___7Lq88 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7Lq88 > :global(.__wab_flex-container) > *,
.freeBox___7Lq88 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Lq88 > :global(.__wab_flex-container) > picture > img,
.freeBox___7Lq88
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eimFg {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-D5CFIG7lmD1d);
}
.h2__eo4KR {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-SkaKmkjPNrnD);
  line-height: 1;
}
.text__t34Ks {
  font-size: 20px;
  color: var(--token-oFoyWWl6_91d);
  line-height: 28px;
  height: auto;
}
.freeBox__rj0Yf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__duW6K {
  color: var(--token-vfptqFdVrlEo);
}
.svg__dzIfq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-vfptqFdVrlEo);
  flex-shrink: 0;
}
.column__tZdPr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mKhjN {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem___3GslR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem___3GslR:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__o47Ye {
  color: var(--token-SkaKmkjPNrnD);
}
.svg__urUU {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-D5CFIG7lmD1d);
}
.listItem__aUfL5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__cdObf {
  color: var(--token-SkaKmkjPNrnD);
}
.svg__y7CMe {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-D5CFIG7lmD1d);
}
.listItem__utJuo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mEoZq {
  height: auto;
  color: var(--token-SkaKmkjPNrnD);
}
.svg__iuj2I {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-D5CFIG7lmD1d);
}
.listItem__zDin4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yJ8TO {
  height: auto;
  color: var(--token-SkaKmkjPNrnD);
}
.svg__hvhzF {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-D5CFIG7lmD1d);
}
.listItem__vrn3H:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nqzZq {
  height: auto;
  color: var(--token-SkaKmkjPNrnD);
}
.svg___61BDg {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-D5CFIG7lmD1d);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__srwLc {
  max-width: var(--token-ihVMvYc-32Oz);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__srwLc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__srwLc > :global(.__wab_flex-container) > *,
.freeBox__srwLc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__srwLc > :global(.__wab_flex-container) > picture > img,
.freeBox__srwLc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__srwLc {
    max-width: var(--token-ihVMvYc-32Oz);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__srwLc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__srwLc > :global(.__wab_flex-container) > *,
  .freeBox__srwLc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__srwLc > :global(.__wab_flex-container) > picture > img,
  .freeBox__srwLc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__fg3Ss {
  display: flex;
  flex-direction: column;
}
.freeBox__fg3Ss > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fg3Ss > :global(.__wab_flex-container) > *,
.freeBox__fg3Ss > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fg3Ss > :global(.__wab_flex-container) > picture > img,
.freeBox__fg3Ss
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___130Lb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__oIesP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-SkaKmkjPNrnD);
  line-height: 1;
}
.text___3Frw2 {
  font-size: 20px;
  color: var(--token-oFoyWWl6_91d);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__rrpAe {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__rrpAe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__rrpAe > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__rrpAe > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__rrpAe > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rrpAe {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rrpAe > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rrpAe > :global(.__wab_flex-container) > *,
  .columns__rrpAe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rrpAe > :global(.__wab_flex-container) > picture > img,
  .columns__rrpAe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rrpAe > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__izEg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__nQmZ2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__nQmZ2:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__nzsoU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j9M9V {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__tf0HO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yk7Gb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__aw0WV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__c0Oy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__otxwo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kzCeq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8M3Dj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xkrjU {
  height: auto;
}
.svg__f8AG {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1Jzxw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vdsFt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8YB0Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xMqS8 {
  height: auto;
}
.svg__qgrXs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__nl5G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__dbWwg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__dbWwg:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__otExt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5OFsx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___42Cvm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1Exnj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__fbtil {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fbtil > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fbtil > :global(.__wab_flex-container) > *,
.freeBox__fbtil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbtil > :global(.__wab_flex-container) > picture > img,
.freeBox__fbtil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fbtil {
    position: relative;
  }
}
.text__tyFDf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__k14Bc {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-eLMFg-mbu2uw);
  line-height: 1;
  height: auto;
}
.freeBox__ixBd1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__mx0Ad {
  color: var(--token-vfptqFdVrlEo);
  font-weight: 700;
  margin-bottom: 0px;
}
.svg___0H1MD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-vfptqFdVrlEo);
  flex-shrink: 0;
}
.freeBox__pMwMw {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__pMwMw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pMwMw > :global(.__wab_flex-container) > *,
.freeBox__pMwMw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pMwMw > :global(.__wab_flex-container) > picture > img,
.freeBox__pMwMw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pMwMw {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pMwMw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pMwMw > :global(.__wab_flex-container) > *,
  .freeBox__pMwMw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pMwMw > :global(.__wab_flex-container) > picture > img,
  .freeBox__pMwMw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__kgP8E {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__rjFdC {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-eLMFg-mbu2uw);
  line-height: 1;
  height: auto;
  user-select: text;
  white-space: pre-wrap;
}
.freeBox__lqnSn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-grow: 0;
  padding: 0px;
}
.link___4SrOa {
  color: var(--token-vfptqFdVrlEo);
  font-weight: 700;
  white-space: pre;
}
.svg__dz4S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-vfptqFdVrlEo);
  flex-shrink: 0;
}
.banner__zQLqL:global(.__wab_instance) {
  position: relative;
}
.text__yuuGi {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__lQlP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-eLMFg-mbu2uw);
  line-height: 1;
  height: auto;
}
.freeBox__g35OI {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__shqw {
  color: var(--token-vfptqFdVrlEo);
  font-weight: 700;
  white-space: pre;
}
.svg__fErim {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-vfptqFdVrlEo);
  flex-shrink: 0;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___9Wv8U {
  max-width: var(--token-ihVMvYc-32Oz);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox___9Wv8U > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___9Wv8U > :global(.__wab_flex-container) > *,
.freeBox___9Wv8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Wv8U > :global(.__wab_flex-container) > picture > img,
.freeBox___9Wv8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__fYtVv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fYtVv > picture > img {
  object-fit: cover;
}
.img__wOs6Q {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__wOs6Q > picture > img {
  object-fit: cover;
}
.img__dEk9D {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dEk9D > picture > img {
  object-fit: cover;
}
.img__sUu4X {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__sUu4X > picture > img {
  object-fit: cover;
}
.img__ftu0Z {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ftu0Z > picture > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__d7OAj {
  max-width: var(--token-ihVMvYc-32Oz);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__d7OAj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__d7OAj > :global(.__wab_flex-container) > *,
.columns__d7OAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__d7OAj > :global(.__wab_flex-container) > picture > img,
.columns__d7OAj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.columns__d7OAj > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__d7OAj > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__d7OAj > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d7OAj {
    max-width: var(--token-ihVMvYc-32Oz);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d7OAj > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d7OAj > :global(.__wab_flex-container) > *,
  .columns__d7OAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__d7OAj > :global(.__wab_flex-container) > picture > img,
  .columns__d7OAj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d7OAj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vShUb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__r09LN:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column___6UR67 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___3K390:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column___9CD9E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__rfT6D:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oHuLp {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__nwNtC {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nwNtC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nwNtC > :global(.__wab_flex-container) > *,
.freeBox__nwNtC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nwNtC > :global(.__wab_flex-container) > picture > img,
.freeBox__nwNtC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__liYzr {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-SkaKmkjPNrnD);
}
.text__yHmMp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-SkaKmkjPNrnD);
  line-height: 1;
}
.text___1XOiX {
  font-size: 20px;
  color: var(--token-oFoyWWl6_91d);
  line-height: 28px;
}
.freeBox__wy44S {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wy44S > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wy44S > :global(.__wab_flex-container) > *,
.freeBox__wy44S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wy44S > :global(.__wab_flex-container) > picture > img,
.freeBox__wy44S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__sz71M:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zVzYl {
  position: relative;
  height: 1em;
}
.text__weMm {
  white-space: pre;
}
.svg__pw9Nt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__hui0Y {
  color: var(--token-GYo8orKAGavX);
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
