.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-Yu-0tx5GXrq6);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 4px solid var(--token-UmgxGfOylIea);
}
.rootborders_flatLeft {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rootborders_flatRight {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.freeBox__bBxeh {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__bBxeh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bBxeh > :global(.__wab_flex-container) > *,
.freeBox__bBxeh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bBxeh > :global(.__wab_flex-container) > picture > img,
.freeBox__bBxeh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dtca {
  display: flex;
  flex-direction: row;
}
.freeBox__sxnWu {
  display: flex;
  position: relative;
}
.slotTargetLabel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox___7TYqt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7TYqt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7TYqt > :global(.__wab_flex-container) > *,
.freeBox___7TYqt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7TYqt > :global(.__wab_flex-container) > picture > img,
.freeBox___7TYqt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qIc1B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__iCudk {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-eLMFg-mbu2uw);
  width: auto;
}
.freeBox__d8VtQ {
  display: flex;
  position: relative;
  width: auto;
}
.slotTargetDollars {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-eLMFg-mbu2uw);
  line-height: 1;
}
.text__c8Jn {
  line-height: 28px;
  color: var(--token-3BamIUQMqsEy);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__la2Xo {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-uhHoav-kzN4z);
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox__la2Xo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__la2Xo > :global(.__wab_flex-container) > *,
.freeBox__la2Xo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__la2Xo > :global(.__wab_flex-container) > picture > img,
.freeBox__la2Xo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lSmhu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lSmhu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lSmhu > :global(.__wab_flex-container) > *,
.freeBox__lSmhu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lSmhu > :global(.__wab_flex-container) > picture > img,
.freeBox__lSmhu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueProp__l3USq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4JstF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5FbNy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__unf1M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fhvYh {
  position: relative;
  height: 1em;
}
.text___5Fy1I {
  white-space: pre;
  color: var(--token-bEf99VmYvt6J);
}
.textprimary___5Fy1IrTjFe {
  color: var(--token-Yu-0tx5GXrq6);
}
.svg__on6B9 {
  position: relative;
  height: 1em;
}
