.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-bEf99VmYvt6J);
  font-family: var(--token-QnnaEaPc-74w);
  font-size: var(--token-y_F6tDijicKc);
  line-height: var(--token-f7AC14cOU-DK);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-rKprzNKtfKUu));
  width: calc(100% + var(--token-rKprzNKtfKUu));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-rKprzNKtfKUu);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-m1yRRbfWxT_Y);
  line-height: var(--token-WBrHMRS3mjr2);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-HfPINr0WbAl4);
  line-height: var(--token-N1V0EWuE72OS);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-GYo8orKAGavX);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-uuFKKIMDuHQF);
  display: block;
}
