.root {
  display: flex;
  flex-direction: row;
  position: relative;
  background: var(--token-Yu-0tx5GXrq6);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
.freeBox__pp9Df {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pp9Df {
    display: flex;
    flex-direction: column;
  }
}
.art {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    min-height: 320px;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img > picture > img {
  object-fit: cover;
}
.blend {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: var(--token-J37VJrOiQ28x);
}
.freeBox__ekDIa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__ohgZk {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-jTcjOo___hV6);
  min-width: 0;
  padding: 64px;
}
.freeBox__ohgZk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ohgZk > :global(.__wab_flex-container) > *,
.freeBox__ohgZk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ohgZk > :global(.__wab_flex-container) > picture > img,
.freeBox__ohgZk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohgZk {
    padding: 128px 32px;
  }
}
.copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox___3Rqxr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3Rqxr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3Rqxr > :global(.__wab_flex-container) > *,
.freeBox___3Rqxr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Rqxr > :global(.__wab_flex-container) > picture > img,
.freeBox___3Rqxr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___3Rs4N {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-SkaKmkjPNrnD);
}
.text__cPoao {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-SkaKmkjPNrnD);
  line-height: 1;
}
.text__p7BvK {
  font-size: 20px;
  color: var(--token-oFoyWWl6_91d);
  line-height: 28px;
}
.freeBox__wNaWp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wNaWp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wNaWp > :global(.__wab_flex-container) > *,
.freeBox__wNaWp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wNaWp > :global(.__wab_flex-container) > picture > img,
.freeBox__wNaWp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__cbnUa:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__lPd6E {
  position: relative;
  height: 1em;
}
.text__vlS6 {
  white-space: pre;
}
.svg__iuHab {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__hSblf {
  color: var(--token-GYo8orKAGavX);
}
