.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___4MSKa {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___4MSKa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4MSKa > :global(.__wab_flex-container) > *,
.freeBox___4MSKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4MSKa > :global(.__wab_flex-container) > picture > img,
.freeBox___4MSKa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4MSKa {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__bI43M {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text___80Zfz {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__ryamk:global(.__wab_instance) {
  position: relative;
}
.img__fluN7 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__fluN7 > picture > img {
  object-fit: cover;
}
.valueProp__oy4Of:global(.__wab_instance) {
  position: relative;
}
.img___9GGuV {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___9GGuV > picture > img {
  object-fit: cover;
}
.valueProp__c6KDb:global(.__wab_instance) {
  position: relative;
}
.img__ogxKm {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ogxKm > picture > img {
  object-fit: cover;
}
.valueProp__zM7Fb:global(.__wab_instance) {
  position: relative;
}
.img__e4C4V {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__e4C4V > picture > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-x0A_5fXwgXox);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___47REj {
  display: flex;
  flex-direction: column;
}
.freeBox___47REj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___47REj > :global(.__wab_flex-container) > *,
.freeBox___47REj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___47REj > :global(.__wab_flex-container) > picture > img,
.freeBox___47REj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rJh5H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__uy8OF {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__wopxs {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__wopxs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wopxs > :global(.__wab_flex-container) > *,
.freeBox__wopxs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wopxs > :global(.__wab_flex-container) > picture > img,
.freeBox__wopxs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ctTYe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__bn4Fl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oo0I1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yu-0tx5GXrq6);
  width: 28px;
  height: 28px;
}
.text__gMxpk {
  padding-left: 0px;
}
.column__zEFn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__nx2Hf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__m98SM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yu-0tx5GXrq6);
  width: 28px;
  height: 28px;
}
.text__r29Yh {
  padding-left: 0px;
}
.column__bjhKb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___6GBp5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vc7A5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yu-0tx5GXrq6);
  width: 28px;
  height: 28px;
}
.text__g3Zxi {
  padding-left: 0px;
}
.column__uJpr2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__kVdzq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uIt7D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yu-0tx5GXrq6);
  width: 28px;
  height: 28px;
}
.text__gn3M6 {
  padding-left: 0px;
}
.freeBox__oimhx {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__oimhx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__oimhx > :global(.__wab_flex-container) > *,
.freeBox__oimhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oimhx > :global(.__wab_flex-container) > picture > img,
.freeBox__oimhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oimhx {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__x9ZgK {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__x9ZgK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__x9ZgK > :global(.__wab_flex-container) > *,
.freeBox__x9ZgK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x9ZgK > :global(.__wab_flex-container) > picture > img,
.freeBox__x9ZgK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__yp604 {
  display: flex;
  flex-direction: column;
}
.freeBox__yp604 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yp604 > :global(.__wab_flex-container) > *,
.freeBox__yp604 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yp604 > :global(.__wab_flex-container) > picture > img,
.freeBox__yp604
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cplIg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__pB73 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pB73 {
    text-align: center;
  }
}
.text__uesCh {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___8A2Op {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___8A2Op > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___8A2Op > :global(.__wab_flex-container) > *,
.freeBox___8A2Op > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8A2Op > :global(.__wab_flex-container) > picture > img,
.freeBox___8A2Op
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8A2Op {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8A2Op > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8A2Op > :global(.__wab_flex-container) > *,
  .freeBox___8A2Op > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8A2Op > :global(.__wab_flex-container) > picture > img,
  .freeBox___8A2Op
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___75Kwq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__tTdwK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kwwpL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8Fcw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wkz52 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__cM4Vz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hrsBb {
  color: var(--token-0PRFJf1xnx8_);
}
.valueProp__gYsCg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kvwph {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g88Z6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xgDVr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t1U8S:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oN0Ba {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__igob:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ywT1F {
  color: var(--token-UmgxGfOylIea);
}
.valueProp__mO6Pa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rP0Gw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__atbi6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1FrB5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__rbqqa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nn2Uu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vGiRr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nLii7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__cZe2X:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__w66Vt {
  color: var(--token-CVZd4QUV0XqM);
}
.valueProp__kBvI:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3MvOe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k1AK2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___14UrC {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8S5O:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1Xk5S {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__rDpZ1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__u0XgT {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
