.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__kg3Wp {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__kYckg {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__kYckg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kYckg > :global(.__wab_flex-container) > *,
.freeBox__kYckg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kYckg > :global(.__wab_flex-container) > picture > img,
.freeBox__kYckg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__thJCn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__thJCn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__thJCn > :global(.__wab_flex-container) > *,
.freeBox__thJCn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__thJCn > :global(.__wab_flex-container) > picture > img,
.freeBox__thJCn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__dRhS:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-3BamIUQMqsEy);
}
.text__bG1P {
  white-space: pre;
  font-weight: 700;
}
.svg__u3Vam {
  position: relative;
  height: 1em;
}
.freeBox__qIoR {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox__qIoR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qIoR > :global(.__wab_flex-container) > *,
.freeBox__qIoR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qIoR > :global(.__wab_flex-container) > picture > img,
.freeBox__qIoR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__csEo:global(.__wab_instance) {
  position: relative;
}
.divider__z5HiG:global(.__wab_instance) {
  position: relative;
}
.freeBox__eoKr {
  position: relative;
  flex-direction: column;
  display: none;
}
.freeBox__eoKr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eoKr > :global(.__wab_flex-container) > *,
.freeBox__eoKr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eoKr > :global(.__wab_flex-container) > picture > img,
.freeBox__eoKr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.name:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___3LLyE {
  position: relative;
  height: 1em;
}
.svg___6XuHq {
  position: relative;
  height: 1em;
}
.email:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__gZ1IK {
  position: relative;
  height: 1em;
}
.svg__vsfk {
  position: relative;
  height: 1em;
}
.password:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__aL5DC {
  position: relative;
  height: 1em;
}
.svg__gd9Sf {
  position: relative;
  height: 1em;
}
.button__fq5K0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__hEZwj {
  position: relative;
  height: 1em;
}
.text___6Epjz {
  white-space: pre;
  font-weight: 700;
  font-size: var(--token-HfPINr0WbAl4);
}
.svg___0Uerb {
  position: relative;
  height: 1em;
}
.divider__yBpIp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__sl9Jg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-uhHoav-kzN4z);
  padding: 32px;
}
.text__fMdmt {
  position: relative;
  color: var(--token-3BamIUQMqsEy);
}
