.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/site_starter/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__qvw5I {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-SdcKrdfXr3hD);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__qvw5I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__qvw5I > :global(.__wab_flex-container) > *,
.columns__qvw5I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qvw5I > :global(.__wab_flex-container) > picture > img,
.columns__qvw5I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__qvw5I > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qvw5I > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvw5I {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvw5I > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvw5I > :global(.__wab_flex-container) > *,
  .columns__qvw5I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qvw5I > :global(.__wab_flex-container) > picture > img,
  .columns__qvw5I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qvw5I > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ztIJu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kGsym {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__kGsym > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kGsym > :global(.__wab_flex-container) > *,
.freeBox__kGsym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kGsym > :global(.__wab_flex-container) > picture > img,
.freeBox__kGsym
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gnWxr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gnWxr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gnWxr > :global(.__wab_flex-container) > *,
.freeBox__gnWxr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gnWxr > :global(.__wab_flex-container) > picture > img,
.freeBox__gnWxr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rIbrc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__qauQx {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-XryOMR26brVq);
  background: #ffffff;
  padding: 4px 8px;
}
.text__fgS31 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-QqlanWrhrl5G);
}
.text__q1ZBm {
  font-size: 20px;
  color: var(--token-XryOMR26brVq);
  line-height: 28px;
}
.freeBox__wnbMf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wnbMf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wnbMf > :global(.__wab_flex-container) > *,
.freeBox__wnbMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wnbMf > :global(.__wab_flex-container) > picture > img,
.freeBox__wnbMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___6YKn3 {
  position: relative;
  height: 1em;
}
.text__dwrFk {
  white-space: pre;
}
.svg__x51Jm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__pKp5N {
  font-size: 18px;
}
.column__z0EAi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__tc332 {
  max-width: var(--token-SdcKrdfXr3hD);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__tc332 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tc332 > :global(.__wab_flex-container) > *,
.freeBox__tc332 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tc332 > :global(.__wab_flex-container) > picture > img,
.freeBox__tc332
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aLydi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__vc5Sq {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-QqlanWrhrl5G);
  line-height: 1;
}
.text__ffdix {
  font-size: 20px;
  color: var(--token-XryOMR26brVq);
  text-align: left;
  line-height: 28px;
}
.freeBox__m6EL6 {
  max-width: var(--token-SdcKrdfXr3hD);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__m6EL6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__m6EL6 > :global(.__wab_flex-container) > *,
.freeBox__m6EL6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m6EL6 > :global(.__wab_flex-container) > picture > img,
.freeBox__m6EL6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m6EL6 {
    max-width: var(--token-SdcKrdfXr3hD);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m6EL6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m6EL6 > :global(.__wab_flex-container) > *,
  .freeBox__m6EL6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m6EL6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__m6EL6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__aehk3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aehk3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__aehk3 > :global(.__wab_flex-container) > *,
.freeBox__aehk3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aehk3 > :global(.__wab_flex-container) > picture > img,
.freeBox__aehk3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aehk3 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aehk3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aehk3 > :global(.__wab_flex-container) > *,
  .freeBox__aehk3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aehk3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__aehk3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__sjYi2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kcETt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___4BJ0I:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3UEgw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__u0Ey3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tfmon {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__aOykX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hBzE {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__hwsYz {
  height: auto;
}
.freeBox__r3Ncv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__r3Ncv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__r3Ncv > :global(.__wab_flex-container) > *,
.freeBox__r3Ncv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r3Ncv > :global(.__wab_flex-container) > picture > img,
.freeBox__r3Ncv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r3Ncv {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r3Ncv > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r3Ncv > :global(.__wab_flex-container) > *,
  .freeBox__r3Ncv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r3Ncv > :global(.__wab_flex-container) > picture > img,
  .freeBox__r3Ncv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__gBpV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hfH3O {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__yPvLd {
  height: auto;
}
.valueProp__rcR9P:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tScfg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__u89Sa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ec0Cx {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___4LTmU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cRsO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__x9Chf {
  max-width: var(--token-SdcKrdfXr3hD);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__x9Chf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__x9Chf > :global(.__wab_flex-container) > *,
.columns__x9Chf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__x9Chf > :global(.__wab_flex-container) > picture > img,
.columns__x9Chf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__x9Chf > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__x9Chf > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x9Chf {
    max-width: var(--token-SdcKrdfXr3hD);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x9Chf > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    --plsmc-rc-col-gap: 64px;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x9Chf > :global(.__wab_flex-container) > *,
  .columns__x9Chf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__x9Chf > :global(.__wab_flex-container) > picture > img,
  .columns__x9Chf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x9Chf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yJyJn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__c7Tk {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__c7Tk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__c7Tk > :global(.__wab_flex-container) > *,
.freeBox__c7Tk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c7Tk > :global(.__wab_flex-container) > picture > img,
.freeBox__c7Tk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__l02Xk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-OdnAn7Wmfyr1);
}
.h2__rdvEe {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-zpwQbMgPrgyG);
  line-height: 1;
}
.text___9XcB {
  font-size: 20px;
  color: var(--token-5vueRNaG8ri2);
  line-height: 28px;
  height: auto;
}
.freeBox__jryAw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__v25Cg {
  color: var(--token-oTVaY7SFqylC);
}
.svg__jrHl5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-oTVaY7SFqylC);
  flex-shrink: 0;
}
.column__un2Z {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3Ee9B {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__o0CNz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__o0CNz:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__gmjRo {
  color: var(--token-zpwQbMgPrgyG);
}
.svg___4Ms1U {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-OdnAn7Wmfyr1);
}
.listItem__zN8Ae:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uVgT {
  color: var(--token-zpwQbMgPrgyG);
}
.svg___5BbOd {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-OdnAn7Wmfyr1);
}
.listItem__pRJe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__y5Mu9 {
  height: auto;
  color: var(--token-zpwQbMgPrgyG);
}
.svg__il0I5 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-OdnAn7Wmfyr1);
}
.listItem__saeqB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__u8THn {
  height: auto;
  color: var(--token-zpwQbMgPrgyG);
}
.svg__v9L14 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-OdnAn7Wmfyr1);
}
.listItem__gl2De:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__kBb0 {
  height: auto;
  color: var(--token-zpwQbMgPrgyG);
}
.svg__pj3Wi {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-OdnAn7Wmfyr1);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__nTisS {
  max-width: var(--token-SdcKrdfXr3hD);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__nTisS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__nTisS > :global(.__wab_flex-container) > *,
.freeBox__nTisS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nTisS > :global(.__wab_flex-container) > picture > img,
.freeBox__nTisS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nTisS {
    max-width: var(--token-SdcKrdfXr3hD);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nTisS > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nTisS > :global(.__wab_flex-container) > *,
  .freeBox__nTisS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nTisS > :global(.__wab_flex-container) > picture > img,
  .freeBox__nTisS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__hqNeI {
  display: flex;
  flex-direction: column;
}
.freeBox__hqNeI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hqNeI > :global(.__wab_flex-container) > *,
.freeBox__hqNeI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hqNeI > :global(.__wab_flex-container) > picture > img,
.freeBox__hqNeI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__zSsS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ps7BA {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-zpwQbMgPrgyG);
  line-height: 1;
}
.text__vuYGm {
  font-size: 20px;
  color: var(--token-5vueRNaG8ri2);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__omuiK {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__omuiK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__omuiK > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__omuiK > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__omuiK > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__omuiK {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__omuiK > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__omuiK > :global(.__wab_flex-container) > *,
  .columns__omuiK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__omuiK > :global(.__wab_flex-container) > picture > img,
  .columns__omuiK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__omuiK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__giSse {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__vEeOt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__vEeOt:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__lySa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hK7Pl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__zwBkt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___30Nmw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column___6XGb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__cZuEd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___9HXps:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vAkd4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gzMkv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zyVc {
  height: auto;
}
.svg__fK4Lx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___4E8Yj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bP9Zu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__rkyEh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__fd2JA {
  height: auto;
}
.svg___9N7Qe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__wjnWs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__lWtkm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__lWtkm:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__yDvjn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ogtaZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__okhWy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gmrkk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__p79EW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__p79EW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p79EW > :global(.__wab_flex-container) > *,
.freeBox__p79EW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p79EW > :global(.__wab_flex-container) > picture > img,
.freeBox__p79EW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p79EW {
    position: relative;
  }
}
.text__oPkHx {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__tVeo {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-QqlanWrhrl5G);
  line-height: 1;
  height: auto;
}
.freeBox__chRRs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__reZg {
  color: var(--token-oTVaY7SFqylC);
  font-weight: 700;
  margin-bottom: 0px;
}
.svg__fjLq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-oTVaY7SFqylC);
  flex-shrink: 0;
}
.freeBox__w8Ewb {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__w8Ewb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__w8Ewb > :global(.__wab_flex-container) > *,
.freeBox__w8Ewb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w8Ewb > :global(.__wab_flex-container) > picture > img,
.freeBox__w8Ewb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w8Ewb {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w8Ewb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w8Ewb > :global(.__wab_flex-container) > *,
  .freeBox__w8Ewb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w8Ewb > :global(.__wab_flex-container) > picture > img,
  .freeBox__w8Ewb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__n3Aaz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p14Mu {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-QqlanWrhrl5G);
  line-height: 1;
  height: auto;
  user-select: text;
  white-space: pre-wrap;
}
.freeBox__jo46A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-grow: 0;
  padding: 0px;
}
.link__jkCfe {
  color: var(--token-oTVaY7SFqylC);
  font-weight: 700;
  white-space: pre;
}
.svg__uze3A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-oTVaY7SFqylC);
  flex-shrink: 0;
}
.banner__biara:global(.__wab_instance) {
  position: relative;
}
.text__m39Kl {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text___7BzNp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-QqlanWrhrl5G);
  line-height: 1;
  height: auto;
}
.freeBox__ip1CG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__n0FL {
  color: var(--token-oTVaY7SFqylC);
  font-weight: 700;
  white-space: pre;
}
.svg__aV2P7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-oTVaY7SFqylC);
  flex-shrink: 0;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__sq4Ib {
  max-width: var(--token-SdcKrdfXr3hD);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox__sq4Ib > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__sq4Ib > :global(.__wab_flex-container) > *,
.freeBox__sq4Ib > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sq4Ib > :global(.__wab_flex-container) > picture > img,
.freeBox__sq4Ib
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__xmKjI {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__xmKjI > picture > img {
  object-fit: cover;
}
.img__dm95 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dm95 > picture > img {
  object-fit: cover;
}
.img__dyMu1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dyMu1 > picture > img {
  object-fit: cover;
}
.img__iBhYt {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__iBhYt > picture > img {
  object-fit: cover;
}
.img__fa2U0 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fa2U0 > picture > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__ht3O3 {
  max-width: var(--token-SdcKrdfXr3hD);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__ht3O3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__ht3O3 > :global(.__wab_flex-container) > *,
.columns__ht3O3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ht3O3 > :global(.__wab_flex-container) > picture > img,
.columns__ht3O3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.columns__ht3O3 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ht3O3 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ht3O3 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ht3O3 {
    max-width: var(--token-SdcKrdfXr3hD);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ht3O3 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ht3O3 > :global(.__wab_flex-container) > *,
  .columns__ht3O3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ht3O3 > :global(.__wab_flex-container) > picture > img,
  .columns__ht3O3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ht3O3 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cygcn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__orJnT:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__imJv5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__hKaN:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__kvQce {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__zl51H:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___9G1Uq {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__wPxVf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wPxVf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wPxVf > :global(.__wab_flex-container) > *,
.freeBox__wPxVf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wPxVf > :global(.__wab_flex-container) > picture > img,
.freeBox__wPxVf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__i7KWf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-zpwQbMgPrgyG);
}
.text__b3M8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-zpwQbMgPrgyG);
  line-height: 1;
}
.text__esgUx {
  font-size: 20px;
  color: var(--token-5vueRNaG8ri2);
  line-height: 28px;
}
.freeBox___1Ksko {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1Ksko > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1Ksko > :global(.__wab_flex-container) > *,
.freeBox___1Ksko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Ksko > :global(.__wab_flex-container) > picture > img,
.freeBox___1Ksko
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__mWtpw:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__jVyMk {
  position: relative;
  height: 1em;
}
.text__l1Q16 {
  white-space: pre;
}
.svg__qh8CQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__mtYdh {
  color: var(--token-cTjE3xJXE27f);
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
