.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-cTjE3xJXE27f);
  font-family: var(--token-jjsmqw6PJqAQ);
  font-size: var(--token-KESrZH3bXfZ2);
  line-height: var(--token-1o4hmtOpNaak);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
