@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-bZbD7genAd1A: #007aff;
  --plasmic-token-blue: var(--token-bZbD7genAd1A);
  --token-SdcKrdfXr3hD: 1080px;
  --plasmic-token-content-max-width: var(--token-SdcKrdfXr3hD);
  --token-I-sOwVXhvVkl: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-I-sOwVXhvVkl);
  --token-_bONSoCZuNjR: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-_bONSoCZuNjR);
  --token-QqlanWrhrl5G: #000000d9;
  --plasmic-token-light-label: var(--token-QqlanWrhrl5G);
  --token-XryOMR26brVq: #05050599;
  --plasmic-token-light-secondary: var(--token-XryOMR26brVq);
  --token-S3aHinN2JTz5: #007aff;
  --plasmic-token-light-blue: var(--token-S3aHinN2JTz5);
  --token-TonVVzwOAQCK: #ff3b30;
  --plasmic-token-light-red: var(--token-TonVVzwOAQCK);
  --token-aZJJ3YVQ1sRi: #ffffff;
  --plasmic-token-white: var(--token-aZJJ3YVQ1sRi);
  --token-zpwQbMgPrgyG: #ffffffd9;
  --plasmic-token-dark-label: var(--token-zpwQbMgPrgyG);
  --token-5vueRNaG8ri2: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-5vueRNaG8ri2);
  --token-s4fJ2aYGTiso: #0000001a;
  --plasmic-token-light-quarternary: var(--token-s4fJ2aYGTiso);
  --token-Kg-LPYky42vi: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-Kg-LPYky42vi);
  --token-OdnAn7Wmfyr1: #32d74b;
  --plasmic-token-dark-green: var(--token-OdnAn7Wmfyr1);
  --token-oTVaY7SFqylC: #0a84ff;
  --plasmic-token-dark-blue: var(--token-oTVaY7SFqylC);
  --token-fqQc3WlUvPgl: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-fqQc3WlUvPgl);
  --token-AS8E58vbSdfQ: #34c759;
  --plasmic-token-light-green: var(--token-AS8E58vbSdfQ);
  --token-51g_wuDZTvWI: #5856d6;
  --plasmic-token-light-indigo: var(--token-51g_wuDZTvWI);
  --token-_F_Hq_xvKGkc: 0.25rem;
  --plasmic-token-size-4: var(--token-_F_Hq_xvKGkc);
  --token-TN03ouELRUcZ: 2rem;
  --plasmic-token-size-32: var(--token-TN03ouELRUcZ);
  --token-WtdQdsmS9Brk: 0.625rem;
  --plasmic-token-size-10: var(--token-WtdQdsmS9Brk);
  --token-nyVbezRatbJq: 0.375rem;
  --plasmic-token-size-6: var(--token-nyVbezRatbJq);
  --token-cTjE3xJXE27f: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-cTjE3xJXE27f);
  --token-FZM60c1WDUOV: #030712;
  --plasmic-token-basic-text-primary: var(--token-FZM60c1WDUOV);
  --token-jjsmqw6PJqAQ: Inter;
  --plasmic-token-sans-serif: var(--token-jjsmqw6PJqAQ);
  --token-KESrZH3bXfZ2: 1rem;
  --plasmic-token-font-md: var(--token-KESrZH3bXfZ2);
  --token-1o4hmtOpNaak: 1.25;
  --plasmic-token-line-height-md: var(--token-1o4hmtOpNaak);
  --token-k3pdGO9CNRmX: 0.75rem;
  --plasmic-token-font-sm: var(--token-k3pdGO9CNRmX);
  --token-uUT7DjEeuxe6: 1;
  --plasmic-token-line-height-sm: var(--token-uUT7DjEeuxe6);
  --token-mbBXwoe1gvZS: 1.25rem;
  --plasmic-token-font-lg: var(--token-mbBXwoe1gvZS);
  --token-WmRJE2jt1xOC: 1.4;
  --plasmic-token-line-height-lg: var(--token-WmRJE2jt1xOC);
  --token-iL4CMC9P9jH2: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-iL4CMC9P9jH2);
  --token-l416DKm30L4s: #d1d5db;
  --plasmic-token-basic-border: var(--token-l416DKm30L4s);
  --token-9a7Jp6-vw3h9: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-9a7Jp6-vw3h9);
  --token-jKsV9RgiWe48: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-jKsV9RgiWe48);
  --token-uT_BTxm_MN4i: 0.125rem;
  --plasmic-token-size-2: var(--token-uT_BTxm_MN4i);
  --token-yUjVUbg05DXS: #2563eb;
  --plasmic-token-brand-brand: var(--token-yUjVUbg05DXS);
  --token-bzE6pqJijZcI: 0.5rem;
  --plasmic-token-size-8: var(--token-bzE6pqJijZcI);
  --token-2Blb4BwPT8Us: #374151;
  --plasmic-token-neutral-neutral: var(--token-2Blb4BwPT8Us);
  --token-hZOk92idyZnP: #6b7280;
  --plasmic-token-muted-muted: var(--token-hZOk92idyZnP);
  --token-apBZasEN49S3: #16a34a;
  --plasmic-token-success-success: var(--token-apBZasEN49S3);
  --token-xOiulOSYvqJJ: #facc15;
  --plasmic-token-warning-warning: var(--token-xOiulOSYvqJJ);
  --token-PQ5TRCMNT1qn: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-PQ5TRCMNT1qn);
  --token-UwISMqwgiX5H: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-UwISMqwgiX5H);
  --token-vKP8rb7s59Rd: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-vKP8rb7s59Rd);
  --token-pZENM5-Q53US: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-pZENM5-Q53US);
  --token-TwDq1DSOnH2L: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-TwDq1DSOnH2L);
  --token-u47eRKYfabR-: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-u47eRKYfabR-);
  --token-Ym1mZnBL1bXk: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-Ym1mZnBL1bXk);
  --token-tdsmUXIHdtXE: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-tdsmUXIHdtXE);
  --token-DjTZcBkLNEj_: #86efac;
  --plasmic-token-success-success-border: var(--token-DjTZcBkLNEj_);
  --token-fKLt__Suv_cD: #fde047;
  --plasmic-token-warning-warning-border: var(--token-fKLt__Suv_cD);
  --token-DZLbUOjzmuja: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-DZLbUOjzmuja);
  --token-8_cFxTFQWlcJ: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-8_cFxTFQWlcJ);
  --token-VDeloH8JfQel: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-VDeloH8JfQel);
  --token-U4nHay--fCJ_: #00000033;
  --plasmic-token-interaction-pressed: var(--token-U4nHay--fCJ_);
  --token-LEEddmn0tmku: 0.75rem;
  --plasmic-token-size-12: var(--token-LEEddmn0tmku);
  --token-Mx3R2a6NHC6F: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-Mx3R2a6NHC6F);
  --token-FKjvNMMe98ft: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-FKjvNMMe98ft);
  --token-mqCKX-cWCoa1: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-mqCKX-cWCoa1);
  --token-mPDE6DkGtddv: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-mPDE6DkGtddv);
  --token-k9SF5kqsLzAA: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-k9SF5kqsLzAA);
  --token-TSVH1f9WSfEh: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-TSVH1f9WSfEh);
  --token-4Q-O2olNOJjC: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-4Q-O2olNOJjC);
  --token-RoHfGC9joaHS: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-RoHfGC9joaHS);
  --token-WBw_Ozfx94rO: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-WBw_Ozfx94rO);
  --token-IQYoCEwY7MZj: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-IQYoCEwY7MZj);
  --token-4qhQOoG8HOC0: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-4qhQOoG8HOC0);
  --token-fr6zevfA7PaX: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-fr6zevfA7PaX
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-4ByDQsWqzvHR_font-family: "Roboto", sans-serif;
  --mixin-4ByDQsWqzvHR_font-size: 16px;
  --mixin-4ByDQsWqzvHR_font-weight: 400;
  --mixin-4ByDQsWqzvHR_font-style: normal;
  --mixin-4ByDQsWqzvHR_color: var(--token-QqlanWrhrl5G);
  --mixin-4ByDQsWqzvHR_text-align: left;
  --mixin-4ByDQsWqzvHR_text-transform: none;
  --mixin-4ByDQsWqzvHR_line-height: 1.5;
  --mixin-4ByDQsWqzvHR_letter-spacing: normal;
  --mixin-4ByDQsWqzvHR_white-space: pre-wrap;
  --mixin-4ByDQsWqzvHR_user-select: text;
  --mixin-4ByDQsWqzvHR_text-decoration-line: none;
  --mixin-4ByDQsWqzvHR_text-overflow: clip;
  --mixin-ZXv8An_Su8Lc_white-space: pre-wrap;
  --mixin-qEXq1IO5Jk9U_font-family: "Inter", sans-serif;
  --mixin-qEXq1IO5Jk9U_color: #000000;
  --mixin-qEXq1IO5Jk9U_font-size: 72px;
  --mixin-qEXq1IO5Jk9U_font-weight: 900;
  --mixin-qEXq1IO5Jk9U_letter-spacing: -4px;
  --mixin-qEXq1IO5Jk9U_line-height: 1;
  --mixin-qEXq1IO5Jk9U_white-space: pre-wrap;
  --mixin-ccIxgaZox9tl_font-family: "Inter", sans-serif;
  --mixin-ccIxgaZox9tl_color: #000000;
  --mixin-ccIxgaZox9tl_font-size: 32px;
  --mixin-ccIxgaZox9tl_font-weight: 600;
  --mixin-ccIxgaZox9tl_letter-spacing: -0.8px;
  --mixin-ccIxgaZox9tl_line-height: 1.2;
  --mixin-ccIxgaZox9tl_white-space: pre-wrap;
  --mixin-R9NNxWusFKst_font-family: "Inter", sans-serif;
  --mixin-R9NNxWusFKst_color: #000000;
  --mixin-R9NNxWusFKst_font-size: 24px;
  --mixin-R9NNxWusFKst_font-weight: 600;
  --mixin-R9NNxWusFKst_letter-spacing: -0.5px;
  --mixin-R9NNxWusFKst_line-height: 1.3;
  --mixin-R9NNxWusFKst_white-space: pre-wrap;
  --mixin-begKIPHaWWvB_font-family: "Inter", sans-serif;
  --mixin-begKIPHaWWvB_color: #000000;
  --mixin-begKIPHaWWvB_font-size: 20px;
  --mixin-begKIPHaWWvB_font-weight: 600;
  --mixin-begKIPHaWWvB_letter-spacing: -0.3px;
  --mixin-begKIPHaWWvB_line-height: 1.5;
  --mixin-begKIPHaWWvB_white-space: pre-wrap;
  --mixin-Pq-s8xZW9vLq_font-family: "Inter", sans-serif;
  --mixin-Pq-s8xZW9vLq_color: #000000;
  --mixin-Pq-s8xZW9vLq_font-size: 16px;
  --mixin-Pq-s8xZW9vLq_font-weight: 600;
  --mixin-Pq-s8xZW9vLq_line-height: 1.5;
  --mixin-Pq-s8xZW9vLq_white-space: pre-wrap;
  --mixin-sVTFjZ2evbdC_border-left-color: #dddddd;
  --mixin-sVTFjZ2evbdC_border-left-style: solid;
  --mixin-sVTFjZ2evbdC_border-left-width: 3px;
  --mixin-sVTFjZ2evbdC_color: #888888;
  --mixin-sVTFjZ2evbdC_padding-left: 10px;
  --mixin-sVTFjZ2evbdC_white-space: pre-wrap;
  --mixin-mff98YLsy8D2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mff98YLsy8D2_border-bottom-color: #dddddd;
  --mixin-mff98YLsy8D2_border-bottom-style: solid;
  --mixin-mff98YLsy8D2_border-bottom-width: 1px;
  --mixin-mff98YLsy8D2_border-left-color: #dddddd;
  --mixin-mff98YLsy8D2_border-left-style: solid;
  --mixin-mff98YLsy8D2_border-left-width: 1px;
  --mixin-mff98YLsy8D2_border-right-color: #dddddd;
  --mixin-mff98YLsy8D2_border-right-style: solid;
  --mixin-mff98YLsy8D2_border-right-width: 1px;
  --mixin-mff98YLsy8D2_border-top-color: #dddddd;
  --mixin-mff98YLsy8D2_border-top-style: solid;
  --mixin-mff98YLsy8D2_border-top-width: 1px;
  --mixin-mff98YLsy8D2_border-bottom-left-radius: 3px;
  --mixin-mff98YLsy8D2_border-bottom-right-radius: 3px;
  --mixin-mff98YLsy8D2_border-top-left-radius: 3px;
  --mixin-mff98YLsy8D2_border-top-right-radius: 3px;
  --mixin-mff98YLsy8D2_font-family: "Inconsolata";
  --mixin-mff98YLsy8D2_padding-bottom: 1px;
  --mixin-mff98YLsy8D2_padding-left: 4px;
  --mixin-mff98YLsy8D2_padding-right: 4px;
  --mixin-mff98YLsy8D2_padding-top: 1px;
  --mixin-mff98YLsy8D2_white-space: pre-wrap;
  --mixin--d71ZxRL5mUq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--d71ZxRL5mUq_border-bottom-color: #dddddd;
  --mixin--d71ZxRL5mUq_border-bottom-style: solid;
  --mixin--d71ZxRL5mUq_border-bottom-width: 1px;
  --mixin--d71ZxRL5mUq_border-left-color: #dddddd;
  --mixin--d71ZxRL5mUq_border-left-style: solid;
  --mixin--d71ZxRL5mUq_border-left-width: 1px;
  --mixin--d71ZxRL5mUq_border-right-color: #dddddd;
  --mixin--d71ZxRL5mUq_border-right-style: solid;
  --mixin--d71ZxRL5mUq_border-right-width: 1px;
  --mixin--d71ZxRL5mUq_border-top-color: #dddddd;
  --mixin--d71ZxRL5mUq_border-top-style: solid;
  --mixin--d71ZxRL5mUq_border-top-width: 1px;
  --mixin--d71ZxRL5mUq_border-bottom-left-radius: 3px;
  --mixin--d71ZxRL5mUq_border-bottom-right-radius: 3px;
  --mixin--d71ZxRL5mUq_border-top-left-radius: 3px;
  --mixin--d71ZxRL5mUq_border-top-right-radius: 3px;
  --mixin--d71ZxRL5mUq_font-family: "Inconsolata";
  --mixin--d71ZxRL5mUq_padding-bottom: 3px;
  --mixin--d71ZxRL5mUq_padding-left: 6px;
  --mixin--d71ZxRL5mUq_padding-right: 6px;
  --mixin--d71ZxRL5mUq_padding-top: 3px;
  --mixin--d71ZxRL5mUq_white-space: pre-wrap;
  --mixin-HfAQp8w0BufR_display: flex;
  --mixin-HfAQp8w0BufR_flex-direction: column;
  --mixin-HfAQp8w0BufR_align-items: stretch;
  --mixin-HfAQp8w0BufR_justify-content: flex-start;
  --mixin-HfAQp8w0BufR_list-style-position: outside;
  --mixin-HfAQp8w0BufR_padding-left: 40px;
  --mixin-HfAQp8w0BufR_position: relative;
  --mixin-HfAQp8w0BufR_list-style-type: decimal;
  --mixin-HfAQp8w0BufR_white-space: pre-wrap;
  --mixin-c_9PmfxpCtob_display: flex;
  --mixin-c_9PmfxpCtob_flex-direction: column;
  --mixin-c_9PmfxpCtob_align-items: stretch;
  --mixin-c_9PmfxpCtob_justify-content: flex-start;
  --mixin-c_9PmfxpCtob_list-style-position: outside;
  --mixin-c_9PmfxpCtob_padding-left: 40px;
  --mixin-c_9PmfxpCtob_position: relative;
  --mixin-c_9PmfxpCtob_list-style-type: disc;
  --mixin-c_9PmfxpCtob_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-REHs3b5aDjA2_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-REHs3b5aDjA2_white-space);
  --mixin-UWRgHWlho4UN_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-UWRgHWlho4UN_white-space);
  --mixin-pLLGhkaHtm4q_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-pLLGhkaHtm4q_box-shadow);
  --mixin-pLLGhkaHtm4q_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-pLLGhkaHtm4q_white-space
  );
  --mixin-y852Ekd9MUxN_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-y852Ekd9MUxN_white-space
  );
  --mixin-1MbEOb-ohIjv_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-1MbEOb-ohIjv_white-space);
  --mixin-dr-2uyCeEIM7_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-dr-2uyCeEIM7_box-shadow
  );
  --mixin-dr-2uyCeEIM7_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-dr-2uyCeEIM7_white-space
  );
  --mixin-EvDs11EQIwaI_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-EvDs11EQIwaI_box-shadow
  );
  --mixin-EvDs11EQIwaI_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-EvDs11EQIwaI_white-space
  );
  --mixin-ocs6sLcHMYZ-_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-ocs6sLcHMYZ-_white-space);
  --mixin-H9epmOImrdBz_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-H9epmOImrdBz_box-shadow
  );
  --mixin-H9epmOImrdBz_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-H9epmOImrdBz_white-space
  );
  --mixin-rTpiL0QrsrCz_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-rTpiL0QrsrCz_white-space);
  --mixin-E7yzdxFVZrhh_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-E7yzdxFVZrhh_white-space);
  --mixin-YuMCKCRHiTT1_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-YuMCKCRHiTT1_white-space);
  --mixin-KojK1e7aHKU0_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-KojK1e7aHKU0_white-space
  );
  --mixin-ENgBfr4zytEm_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-ENgBfr4zytEm_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-4ByDQsWqzvHR_font-family);
  font-size: var(--mixin-4ByDQsWqzvHR_font-size);
  font-weight: var(--mixin-4ByDQsWqzvHR_font-weight);
  font-style: var(--mixin-4ByDQsWqzvHR_font-style);
  color: var(--mixin-4ByDQsWqzvHR_color);
  text-align: var(--mixin-4ByDQsWqzvHR_text-align);
  text-transform: var(--mixin-4ByDQsWqzvHR_text-transform);
  line-height: var(--mixin-4ByDQsWqzvHR_line-height);
  letter-spacing: var(--mixin-4ByDQsWqzvHR_letter-spacing);
  white-space: var(--mixin-4ByDQsWqzvHR_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-qEXq1IO5Jk9U_font-family);
  color: var(--mixin-qEXq1IO5Jk9U_color);
  font-size: var(--mixin-qEXq1IO5Jk9U_font-size);
  font-weight: var(--mixin-qEXq1IO5Jk9U_font-weight);
  letter-spacing: var(--mixin-qEXq1IO5Jk9U_letter-spacing);
  line-height: var(--mixin-qEXq1IO5Jk9U_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-ccIxgaZox9tl_font-family);
  color: var(--mixin-ccIxgaZox9tl_color);
  font-size: var(--mixin-ccIxgaZox9tl_font-size);
  font-weight: var(--mixin-ccIxgaZox9tl_font-weight);
  letter-spacing: var(--mixin-ccIxgaZox9tl_letter-spacing);
  line-height: var(--mixin-ccIxgaZox9tl_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-R9NNxWusFKst_font-family);
  color: var(--mixin-R9NNxWusFKst_color);
  font-size: var(--mixin-R9NNxWusFKst_font-size);
  font-weight: var(--mixin-R9NNxWusFKst_font-weight);
  letter-spacing: var(--mixin-R9NNxWusFKst_letter-spacing);
  line-height: var(--mixin-R9NNxWusFKst_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-begKIPHaWWvB_font-family);
  color: var(--mixin-begKIPHaWWvB_color);
  font-size: var(--mixin-begKIPHaWWvB_font-size);
  font-weight: var(--mixin-begKIPHaWWvB_font-weight);
  letter-spacing: var(--mixin-begKIPHaWWvB_letter-spacing);
  line-height: var(--mixin-begKIPHaWWvB_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-Pq-s8xZW9vLq_font-family);
  color: var(--mixin-Pq-s8xZW9vLq_color);
  font-size: var(--mixin-Pq-s8xZW9vLq_font-size);
  font-weight: var(--mixin-Pq-s8xZW9vLq_font-weight);
  line-height: var(--mixin-Pq-s8xZW9vLq_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-sVTFjZ2evbdC_color);
  padding-left: var(--mixin-sVTFjZ2evbdC_padding-left);
  border-left: var(--mixin-sVTFjZ2evbdC_border-left-width)
    var(--mixin-sVTFjZ2evbdC_border-left-style)
    var(--mixin-sVTFjZ2evbdC_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mff98YLsy8D2_font-family);
  border-radius: var(--mixin-mff98YLsy8D2_border-top-left-radius)
    var(--mixin-mff98YLsy8D2_border-top-right-radius)
    var(--mixin-mff98YLsy8D2_border-bottom-right-radius)
    var(--mixin-mff98YLsy8D2_border-bottom-left-radius);
  padding: var(--mixin-mff98YLsy8D2_padding-top)
    var(--mixin-mff98YLsy8D2_padding-right)
    var(--mixin-mff98YLsy8D2_padding-bottom)
    var(--mixin-mff98YLsy8D2_padding-left);
  border-top: var(--mixin-mff98YLsy8D2_border-top-width)
    var(--mixin-mff98YLsy8D2_border-top-style)
    var(--mixin-mff98YLsy8D2_border-top-color);
  border-right: var(--mixin-mff98YLsy8D2_border-right-width)
    var(--mixin-mff98YLsy8D2_border-right-style)
    var(--mixin-mff98YLsy8D2_border-right-color);
  border-bottom: var(--mixin-mff98YLsy8D2_border-bottom-width)
    var(--mixin-mff98YLsy8D2_border-bottom-style)
    var(--mixin-mff98YLsy8D2_border-bottom-color);
  border-left: var(--mixin-mff98YLsy8D2_border-left-width)
    var(--mixin-mff98YLsy8D2_border-left-style)
    var(--mixin-mff98YLsy8D2_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--d71ZxRL5mUq_font-family);
  border-radius: var(--mixin--d71ZxRL5mUq_border-top-left-radius)
    var(--mixin--d71ZxRL5mUq_border-top-right-radius)
    var(--mixin--d71ZxRL5mUq_border-bottom-right-radius)
    var(--mixin--d71ZxRL5mUq_border-bottom-left-radius);
  padding: var(--mixin--d71ZxRL5mUq_padding-top)
    var(--mixin--d71ZxRL5mUq_padding-right)
    var(--mixin--d71ZxRL5mUq_padding-bottom)
    var(--mixin--d71ZxRL5mUq_padding-left);
  border-top: var(--mixin--d71ZxRL5mUq_border-top-width)
    var(--mixin--d71ZxRL5mUq_border-top-style)
    var(--mixin--d71ZxRL5mUq_border-top-color);
  border-right: var(--mixin--d71ZxRL5mUq_border-right-width)
    var(--mixin--d71ZxRL5mUq_border-right-style)
    var(--mixin--d71ZxRL5mUq_border-right-color);
  border-bottom: var(--mixin--d71ZxRL5mUq_border-bottom-width)
    var(--mixin--d71ZxRL5mUq_border-bottom-style)
    var(--mixin--d71ZxRL5mUq_border-bottom-color);
  border-left: var(--mixin--d71ZxRL5mUq_border-left-width)
    var(--mixin--d71ZxRL5mUq_border-left-style)
    var(--mixin--d71ZxRL5mUq_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-HfAQp8w0BufR_display);
  flex-direction: var(--mixin-HfAQp8w0BufR_flex-direction);
  align-items: var(--mixin-HfAQp8w0BufR_align-items);
  justify-content: var(--mixin-HfAQp8w0BufR_justify-content);
  list-style-position: var(--mixin-HfAQp8w0BufR_list-style-position);
  padding-left: var(--mixin-HfAQp8w0BufR_padding-left);
  position: var(--mixin-HfAQp8w0BufR_position);
  list-style-type: var(--mixin-HfAQp8w0BufR_list-style-type);
  flex-column-gap: var(--mixin-HfAQp8w0BufR_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-c_9PmfxpCtob_display);
  flex-direction: var(--mixin-c_9PmfxpCtob_flex-direction);
  align-items: var(--mixin-c_9PmfxpCtob_align-items);
  justify-content: var(--mixin-c_9PmfxpCtob_justify-content);
  list-style-position: var(--mixin-c_9PmfxpCtob_list-style-position);
  padding-left: var(--mixin-c_9PmfxpCtob_padding-left);
  position: var(--mixin-c_9PmfxpCtob_position);
  list-style-type: var(--mixin-c_9PmfxpCtob_list-style-type);
  flex-column-gap: var(--mixin-c_9PmfxpCtob_flex-column-gap);
}
