.root:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.freeBox__lIul {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___5SmX {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___5SmX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5SmX > :global(.__wab_flex-container) > *,
.freeBox___5SmX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5SmX > :global(.__wab_flex-container) > picture > img,
.freeBox___5SmX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5SmX {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__dcr7 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  margin-top: calc(0px + 16px) !important;
}
.text__cpKYg {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__z2Xb6:global(.__wab_instance) {
  position: relative;
}
.img__wgThF {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__wgThF > picture > img {
  object-fit: cover;
}
.valueProp__z7Hl:global(.__wab_instance) {
  position: relative;
}
.img__h3SsB {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__h3SsB > picture > img {
  object-fit: cover;
}
.valueProp__ivNuD:global(.__wab_instance) {
  position: relative;
}
.img__by5T {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__by5T > picture > img {
  object-fit: cover;
}
.valueProp__ixqgH:global(.__wab_instance) {
  position: relative;
}
.img___3Q7Zc {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___3Q7Zc > picture > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-51g_wuDZTvWI);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___13Ckk {
  display: flex;
  flex-direction: column;
}
.freeBox___13Ckk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___13Ckk > :global(.__wab_flex-container) > *,
.freeBox___13Ckk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___13Ckk > :global(.__wab_flex-container) > picture > img,
.freeBox___13Ckk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__atl5Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__k1KtL {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__g8Glv {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__g8Glv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__g8Glv > :global(.__wab_flex-container) > *,
.freeBox__g8Glv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g8Glv > :global(.__wab_flex-container) > picture > img,
.freeBox__g8Glv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tBj0M {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__lrYrg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yCq6Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aZJJ3YVQ1sRi);
  width: 28px;
  height: 28px;
}
.text__jFvTq {
  padding-left: 0px;
}
.column__zhILg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__vrtjd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cUmu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aZJJ3YVQ1sRi);
  width: 28px;
  height: 28px;
}
.text__bjMff {
  padding-left: 0px;
}
.column__f5F5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__kBiIc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rFkMq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aZJJ3YVQ1sRi);
  width: 28px;
  height: 28px;
}
.text__nc5J3 {
  padding-left: 0px;
}
.column__ysoQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__nZm3J:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cYVuE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aZJJ3YVQ1sRi);
  width: 28px;
  height: 28px;
}
.text__dP8Ue {
  padding-left: 0px;
}
.freeBox__f1FOj {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__f1FOj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__f1FOj > :global(.__wab_flex-container) > *,
.freeBox__f1FOj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1FOj > :global(.__wab_flex-container) > picture > img,
.freeBox__f1FOj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f1FOj {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__qkjRd {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__qkjRd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qkjRd > :global(.__wab_flex-container) > *,
.freeBox__qkjRd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qkjRd > :global(.__wab_flex-container) > picture > img,
.freeBox__qkjRd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__imHuv {
  display: flex;
  flex-direction: column;
}
.freeBox__imHuv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__imHuv > :global(.__wab_flex-container) > *,
.freeBox__imHuv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__imHuv > :global(.__wab_flex-container) > picture > img,
.freeBox__imHuv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__uMpgl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xpAhw {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xpAhw {
    text-align: center;
  }
}
.text__iX5DW {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__yq3Xm {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yq3Xm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__yq3Xm > :global(.__wab_flex-container) > *,
.freeBox__yq3Xm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yq3Xm > :global(.__wab_flex-container) > picture > img,
.freeBox__yq3Xm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yq3Xm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yq3Xm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yq3Xm > :global(.__wab_flex-container) > *,
  .freeBox__yq3Xm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yq3Xm > :global(.__wab_flex-container) > picture > img,
  .freeBox__yq3Xm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__hc7Fi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__gwr3X:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x0LYn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qxUvE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mFawK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__rdc6P:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__f0Xv4 {
  color: var(--token-TonVVzwOAQCK);
}
.valueProp___7Usx2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Wjrj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pyVg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gxXvP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7GLp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1Zqtk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__gfwd0:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yTOu2 {
  color: var(--token-AS8E58vbSdfQ);
}
.valueProp__kyn0F:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6Kw9G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8XEaE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rzRJy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1Ier7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8H0Pg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fwg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dWlP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__tJnGi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___94Yx8 {
  color: var(--token-bZbD7genAd1A);
}
.valueProp__ca0KW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eh3A3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bChrc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__s4IDa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gzkZu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jqKhw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Khxs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uTe2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
