.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-aZJJ3YVQ1sRi);
  border-radius: 16px;
  padding: 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.freeBox__v8F3J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__v8F3J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__v8F3J > :global(.__wab_flex-container) > *,
.freeBox__v8F3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v8F3J > :global(.__wab_flex-container) > picture > img,
.freeBox__v8F3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetQuote {
  font-size: 20px;
  line-height: 28px;
}
.freeBox__k3Lyg {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__k3Lyg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__k3Lyg > :global(.__wab_flex-container) > *,
.freeBox__k3Lyg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k3Lyg > :global(.__wab_flex-container) > picture > img,
.freeBox__k3Lyg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.authorPicture {
  position: relative;
  left: auto;
  top: auto;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
}
.authorPicture > picture > img {
  object-fit: cover;
}
.freeBox__qnDr6 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__qnDr6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qnDr6 > :global(.__wab_flex-container) > *,
.freeBox__qnDr6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qnDr6 > :global(.__wab_flex-container) > picture > img,
.freeBox__qnDr6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___8GAtX {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.slotTargetName {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.slotTargetTitle {
  font-size: 20px;
  color: var(--token-XryOMR26brVq);
  line-height: 28px;
}
