.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-l416DKm30L4s);
  font-size: var(--token-KESrZH3bXfZ2);
  line-height: var(--token-1o4hmtOpNaak);
  width: 100%;
  color: var(--token-FZM60c1WDUOV);
  font-family: var(--token-jjsmqw6PJqAQ);
  min-width: 0;
  border-radius: var(--token-nyVbezRatbJq);
  padding: var(--token-nyVbezRatbJq) var(--token-WtdQdsmS9Brk);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-yUjVUbg05DXS);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-9a7Jp6-vw3h9);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-jKsV9RgiWe48);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-9a7Jp6-vw3h9);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-TN03ouELRUcZ);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-TN03ouELRUcZ);
}
