.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-51g_wuDZTvWI);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-bzE6pqJijZcI);
  font-family: var(--token-jjsmqw6PJqAQ);
  font-size: var(--token-KESrZH3bXfZ2);
  line-height: var(--token-1o4hmtOpNaak);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-nyVbezRatbJq);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-uT_BTxm_MN4i);
  outline-offset: 1px;
  outline-color: var(--token-yUjVUbg05DXS);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-2Blb4BwPT8Us);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-hZOk92idyZnP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-apBZasEN49S3);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-xOiulOSYvqJJ);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-iL4CMC9P9jH2);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-uUT7DjEeuxe6);
  font-size: var(--token-k3pdGO9CNRmX);
  column-gap: var(--token-uT_BTxm_MN4i);
  row-gap: 0px;
  border-radius: var(--token-_F_Hq_xvKGkc);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-k3pdGO9CNRmX);
  line-height: var(--token-uUT7DjEeuxe6);
  column-gap: var(--token-_F_Hq_xvKGkc);
  row-gap: 0px;
  border-radius: var(--token-_F_Hq_xvKGkc);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-mbBXwoe1gvZS);
  line-height: var(--token-WmRJE2jt1xOC);
  font-weight: 500;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-mbBXwoe1gvZS);
  line-height: var(--token-WmRJE2jt1xOC);
  font-weight: 700;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-PQ5TRCMNT1qn);
  border-radius: var(--token-nyVbezRatbJq);
}
.softBackgroundcolor_neutral {
  background: var(--token-UwISMqwgiX5H);
}
.softBackgroundcolor_muted {
  background: var(--token-9a7Jp6-vw3h9);
}
.softBackgroundcolor_success {
  background: var(--token-vKP8rb7s59Rd);
}
.softBackgroundcolor_warning {
  background: var(--token-pZENM5-Q53US);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-TwDq1DSOnH2L);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundcolor_neutral_type_soft {
  background: var(--token-aZJJ3YVQ1sRi);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-nyVbezRatbJq);
  border: 0px solid var(--token-u47eRKYfabR-);
}
.bordercolor_neutral {
  border-color: var(--token-Ym1mZnBL1bXk);
}
.bordercolor_muted {
  border-color: var(--token-tdsmUXIHdtXE);
}
.bordercolor_success {
  border-color: var(--token-DjTZcBkLNEj_);
}
.bordercolor_warning {
  border-color: var(--token-fKLt__Suv_cD);
}
.bordercolor_errorDestructive {
  border-color: var(--token-DZLbUOjzmuja);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-nyVbezRatbJq);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-8_cFxTFQWlcJ);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-VDeloH8JfQel);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-U4nHay--fCJ_);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___80Wv7 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-nyVbezRatbJq) var(--token-WtdQdsmS9Brk);
}
.freeBox___80Wv7 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-nyVbezRatbJq));
  width: calc(100% + var(--token-nyVbezRatbJq));
}
.freeBox___80Wv7 > :global(.__wab_flex-container) > *,
.freeBox___80Wv7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___80Wv7 > :global(.__wab_flex-container) > picture > img,
.freeBox___80Wv7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-nyVbezRatbJq);
}
.freeBoxsize_extraSmall___80Wv7Ddl23 {
  padding: var(--token-_F_Hq_xvKGkc) var(--token-nyVbezRatbJq);
}
.freeBoxsize_small___80Wv7Rt6EQ {
  padding: var(--token-nyVbezRatbJq) var(--token-bzE6pqJijZcI);
}
.freeBoxsize_large___80Wv7L0Lw7 {
  padding-top: var(--token-_F_Hq_xvKGkc);
  padding-bottom: var(--token-_F_Hq_xvKGkc);
}
.freeBoxsize_extraLarge___80Wv7IsLn {
  padding-left: var(--token-LEEddmn0tmku);
  padding-right: var(--token-LEEddmn0tmku);
}
.freeBoxroundedFull___80Wv7J4Y {
  padding-right: var(--token-LEEddmn0tmku);
  padding-left: var(--token-LEEddmn0tmku);
}
.freeBox__aiASf {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__aiASffOe1E {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Mx3R2a6NHC6F);
}
.slotTargetStartcolor_neutral {
  color: var(--token-FKjvNMMe98ft);
}
.slotTargetStartcolor_muted {
  color: var(--token-mqCKX-cWCoa1);
}
.slotTargetStartcolor_success {
  color: var(--token-TSVH1f9WSfEh);
}
.slotTargetStartcolor_warning {
  color: var(--token-k9SF5kqsLzAA);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-4Q-O2olNOJjC);
}
.slotTargetStarttype_soft {
  color: var(--token-mPDE6DkGtddv);
}
.slotTargetStarttype_bordered {
  color: var(--token-mPDE6DkGtddv);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-k3pdGO9CNRmX);
}
.slotTargetStartsize_small {
  font-size: var(--token-k3pdGO9CNRmX);
}
.slotTargetStartsize_large {
  font-size: var(--token-mbBXwoe1gvZS);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-mbBXwoe1gvZS);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-RoHfGC9joaHS);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-RoHfGC9joaHS);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-WBw_Ozfx94rO);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-WBw_Ozfx94rO);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-IQYoCEwY7MZj);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-IQYoCEwY7MZj);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-4qhQOoG8HOC0);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-4qhQOoG8HOC0);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-fr6zevfA7PaX);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-fr6zevfA7PaX);
}
.svg__a7OR {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-Mx3R2a6NHC6F);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-FKjvNMMe98ft);
}
.slotTargetLabelcolor_muted {
  color: var(--token-mqCKX-cWCoa1);
}
.slotTargetLabelcolor_success {
  color: var(--token-TSVH1f9WSfEh);
}
.slotTargetLabelcolor_warning {
  color: var(--token-k9SF5kqsLzAA);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-4Q-O2olNOJjC);
}
.slotTargetLabeltype_soft {
  color: var(--token-mPDE6DkGtddv);
}
.slotTargetLabeltype_bordered {
  color: var(--token-mPDE6DkGtddv);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-RoHfGC9joaHS);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-WBw_Ozfx94rO);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-RoHfGC9joaHS);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-IQYoCEwY7MZj);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-WBw_Ozfx94rO);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-4qhQOoG8HOC0);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-IQYoCEwY7MZj);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-fr6zevfA7PaX);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-4qhQOoG8HOC0);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-fr6zevfA7PaX);
}
.text__n4FAh {
  white-space: pre;
}
.freeBox__uzStw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__uzStwdeCbV {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Mx3R2a6NHC6F);
}
.slotTargetEndcolor_neutral {
  color: var(--token-FKjvNMMe98ft);
}
.slotTargetEndcolor_muted {
  color: var(--token-mqCKX-cWCoa1);
}
.slotTargetEndcolor_success {
  color: var(--token-TSVH1f9WSfEh);
}
.slotTargetEndcolor_warning {
  color: var(--token-k9SF5kqsLzAA);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-4Q-O2olNOJjC);
}
.slotTargetEndtype_soft {
  color: var(--token-mPDE6DkGtddv);
}
.slotTargetEndtype_bordered {
  color: var(--token-mPDE6DkGtddv);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-k3pdGO9CNRmX);
}
.slotTargetEndsize_small {
  font-size: var(--token-k3pdGO9CNRmX);
}
.slotTargetEndsize_large {
  font-size: var(--token-mbBXwoe1gvZS);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-mbBXwoe1gvZS);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-RoHfGC9joaHS);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-RoHfGC9joaHS);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-WBw_Ozfx94rO);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-WBw_Ozfx94rO);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-IQYoCEwY7MZj);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-IQYoCEwY7MZj);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-4qhQOoG8HOC0);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-4qhQOoG8HOC0);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-fr6zevfA7PaX);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-fr6zevfA7PaX);
}
.svg__ccm0B {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
