.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-l416DKm30L4s);
  color: var(--token-FZM60c1WDUOV);
  font-family: var(--token-jjsmqw6PJqAQ);
  font-size: var(--token-KESrZH3bXfZ2);
  line-height: var(--token-1o4hmtOpNaak);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-nyVbezRatbJq);
  padding: var(--token-nyVbezRatbJq) var(--token-WtdQdsmS9Brk);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-uT_BTxm_MN4i);
  outline-offset: 1px;
  outline-color: var(--token-yUjVUbg05DXS);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-9a7Jp6-vw3h9);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-jKsV9RgiWe48);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-9a7Jp6-vw3h9);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-TN03ouELRUcZ);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-TN03ouELRUcZ);
}
