.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-SdcKrdfXr3hD);
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.loggedIn {
  display: flex;
  position: relative;
}
.loggedIn > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - var(--token-TN03ouELRUcZ));
  width: calc(100% + var(--token-TN03ouELRUcZ));
}
.loggedIn > :global(.__wab_flex-container) > *,
.loggedIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.loggedIn > :global(.__wab_flex-container) > picture > img,
.loggedIn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-TN03ouELRUcZ);
}
.text__i2QTd {
  position: relative;
}
.button__rUiGc:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___6R9Fy {
  position: relative;
  height: 1em;
}
.text__txTdr {
  white-space: pre;
}
.svg__i4WxP {
  position: relative;
  height: 1em;
}
.notLoggedIn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.notLoggedIn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-TN03ouELRUcZ));
  width: calc(100% + var(--token-TN03ouELRUcZ));
}
.notLoggedIn > :global(.__wab_flex-container) > *,
.notLoggedIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.notLoggedIn > :global(.__wab_flex-container) > picture > img,
.notLoggedIn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-TN03ouELRUcZ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .notLoggedIn > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .notLoggedIn > :global(.__wab_flex-container) > *,
  .notLoggedIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .notLoggedIn > :global(.__wab_flex-container) > picture > img,
  .notLoggedIn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__g8EK {
  color: var(--token-cTjE3xJXE27f);
  font-size: var(--token-mbBXwoe1gvZS);
}
.link__rGj6Q {
  color: var(--token-cTjE3xJXE27f);
  font-size: var(--token-mbBXwoe1gvZS);
}
.button__c8A5V:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__bi2Cp {
  position: relative;
  height: 1em;
}
.text__eGmAr {
  white-space: pre;
}
.svg__ipO0K {
  position: relative;
  height: 1em;
}
