.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-aZJJ3YVQ1sRi);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 4px solid var(--token-AS8E58vbSdfQ);
}
.rootborders_flatLeft {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rootborders_flatRight {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.freeBox__szDzc {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__szDzc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__szDzc > :global(.__wab_flex-container) > *,
.freeBox__szDzc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__szDzc > :global(.__wab_flex-container) > picture > img,
.freeBox__szDzc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__saIuo {
  display: flex;
  flex-direction: row;
}
.freeBox__ti3Ev {
  display: flex;
  position: relative;
}
.slotTargetLabel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox___2Vv0D {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2Vv0D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2Vv0D > :global(.__wab_flex-container) > *,
.freeBox___2Vv0D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Vv0D > :global(.__wab_flex-container) > picture > img,
.freeBox___2Vv0D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__a9R6R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__zfsSu {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-QqlanWrhrl5G);
  width: auto;
}
.freeBox__aPb6D {
  display: flex;
  position: relative;
  width: auto;
}
.slotTargetDollars {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-QqlanWrhrl5G);
  line-height: 1;
}
.text__dvMx {
  line-height: 28px;
  color: var(--token-XryOMR26brVq);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__oCmNb {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-I-sOwVXhvVkl);
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox__oCmNb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__oCmNb > :global(.__wab_flex-container) > *,
.freeBox__oCmNb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oCmNb > :global(.__wab_flex-container) > picture > img,
.freeBox__oCmNb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__aMrIw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__aMrIw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aMrIw > :global(.__wab_flex-container) > *,
.freeBox__aMrIw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aMrIw > :global(.__wab_flex-container) > picture > img,
.freeBox__aMrIw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueProp__za4Ej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5ULzf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0GSe8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__s88Va {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__uz8Ts {
  position: relative;
  height: 1em;
}
.text__zf9No {
  white-space: pre;
  color: var(--token-FZM60c1WDUOV);
}
.textprimary__zf9No3S8Vz {
  color: var(--token-aZJJ3YVQ1sRi);
}
.svg__ihjNi {
  position: relative;
  height: 1em;
}
